.venv/
Scribe/__pycache__/
Scribe/.env
data/
logs/
transcription.txt
downloads/
Scribe-0.1.0/
Scribe/asdsa
Skribify.egg-info/
.env
dist/Scribe-0.1.1.tar.gz
__pycache__/
Examples/logs
Dockerfile
output/
chunks/
Examples/gui.py
.gitignore
dist/Skribify-0.1.4.tar.gz
