.venv/
Scribe/__pycache__/
Scribe/.env
logs/log.log
transcription.txt
downloads/
dist/Scribe-0.1.0.tar.gz
dist/Scribe-0.1.0/Scribe-0.1.0/LICENSE
dist/Scribe-0.1.0/Scribe-0.1.0/PKG-INFO
dist/Scribe-0.1.0/Scribe-0.1.0/README.md
dist/Scribe-0.1.0/Scribe-0.1.0/setup.cfg
dist/Scribe-0.1.0/Scribe-0.1.0/Scribe/__init__.py
dist/Scribe-0.1.0/Scribe-0.1.0/Scribe/Scribe.py
dist/Scribe-0.1.0/Scribe-0.1.0/Scribe.egg-info/dependency_links.txt
dist/Scribe-0.1.0/Scribe-0.1.0/Scribe.egg-info/PKG-INFO
dist/Scribe-0.1.0/Scribe-0.1.0/Scribe.egg-info/requires.txt
dist/Scribe-0.1.0/Scribe-0.1.0/Scribe.egg-info/SOURCES.txt
dist/Scribe-0.1.0/Scribe-0.1.0/Scribe.egg-info/top_level.txt
Scribe-0.1.0/LICENSE
Scribe-0.1.0/PKG-INFO
Scribe-0.1.0/README.md
Scribe-0.1.0/setup.cfg
Scribe-0.1.0/Scribe/__init__.py
Scribe-0.1.0/Scribe/Scribe.py
Scribe-0.1.0/Scribe.egg-info/dependency_links.txt
Scribe-0.1.0/Scribe.egg-info/PKG-INFO
Scribe-0.1.0/Scribe.egg-info/requires.txt
Scribe-0.1.0/Scribe.egg-info/SOURCES.txt
Scribe-0.1.0/Scribe.egg-info/top_level.txt
Scribe.egg-info/dependency_links.txt
Scribe.egg-info/PKG-INFO
Scribe.egg-info/requires.txt
Scribe.egg-info/SOURCES.txt
Scribe.egg-info/top_level.txt
