.venv/
Scribe/__pycache__/
Scribe/.env
data/
logs/log.log
transcription.txt
downloads/
Scribe-0.1.0/
Scribe/asdsa
Skribify.egg-info/
.env
data/data_2023-05-11_12-30-36.json
data/data_2023-05-11_12-47-51.json
data/data_2023-05-11_12-52-12.json
dist/Scribe-0.1.1.tar.gz
.gitignore
CHANGELOG.md
.gitignore
__pycache__/
